@model IEnumerable<plans>

@{
    ViewData["Title"]= "Arefs home";
}
<table class="table">
    <tr>
        <th>Plan Name</th>
         <th>Plan Price</th>
          <th>Plan Limit</th>
    </tr>
@foreach(var item in Model){
    <tr>
        <td>@item.planName</td>
        <td>@item.planPrice</td>
        <td>@item.planLimit</td>
    </tr>
    }
</table>