@model IEnumerable<plans>

@{
    ViewData["Title"]= "Arefs home";
}
@* <table class="table">
    <tr>
        <th>Plan Name</th>
         <th>Plan Price</th>
          <th>Plan Limit</th>
    </tr>
@foreach(var item in Model){
    <tr>
        <td>@item.planName</td>
        <td>@item.planPrice</td>
        <td>@item.planLimit</td>
    </tr>
    }
</table> *@

<form asp-action="dateInsert" asp-controller="HomeController" method="post">
    <input type="text" name="date" id="date" placeholder="1402-02-05">
    <button class="btn btn-success" type="submit"></button>
</form>